/* Import de la police Squada One */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root {
  /* Palette de couleurs (Figma) */
  --color-primary-dark: #0e1024;
  --color-white: #ffffff;
  --color-secondary: #5F6982;
  --color-light: #F2F2F2;
  --color-grey: #E5E5E5;
  --color-blue: #35598f;

  /* Police globale par défaut */
  font-family: 'Squada One', sans-serif;
  color: var(--color-primary-dark);
  background-color: var(--color-white);
}
/* body {
  margin: 0;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
} */

.logo {
font-size: 25px;
text-decoration: none;
color: white;
font-weight: bold;
}

